<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Адресница</title>

        <!-- CSS -->
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/stayle.css">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="node_modules/jquery/dist/jquery.slim.min.js">
        </script>
        <script src="node_modules/popper.js/dist/umd/popper.min.js">
        </script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js">
        </script>
    </head>
    <body>

        <div id="app">
            <div class="container">
                <div class="row address-card">
                    <div class="col-6">
                        <div class="card-logos-container">
                            <img class="card-logo" src="assets/images/logo.JPG" alt="logo">
                            <img class="card-stamp" src="assets/images/stamp.JPG" alt="stamp">
                        </div>
                        <div class="row card-form">
                            <div class="col-7 card-form-sender">
                                <div class="card-form-title"> 1. Испраќач </div>
                                <div class="card-form-body">
                                    <div>
                                        <label class="card-form-label">Име и Презиме / Име на фирма</label> 
                                        <input class="card-form-input" value="{{ $order['sender_name'] }}">
                                        <label class="card-form-label">Адреса</label>
                                        <input class="card-form-input" value="{{ $order['sender_street'].' '.$order['sender_street_number'].' '.$order['sender_entrance_number'].'/'.$order['sender_apartment_number'] }}">
                                        <label class="card-form-label">Општина</label>
                                        <input class="card-form-input" value="{{ $order['sender_city'].' '.$order['sender_place'] }}">
                                        <label class="card-form-label">Телефон</label>
                                        <input class="card-form-input" value="{{ $order['sender_phone'] }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 card-form-recipient">
                                <div>
                                    <label class="card-form-label">Време на прием</label>
                                    <input class="card-form-input">
                                    <label class="card-form-label">Датум на прием</label>
                                    <input class="card-form-input">
                                </div>
                            </div>
                        </div>
                        <div class="row card-form">
                            <div class="col-7 card-form-sender">
                                <div class="card-form-title"> 2. Примач </div>
                                <div class="card-form-body">
                                    <div>
                                        <label class="card-form-label">Име и Презиме / Име на фирма</label>
                                        <input class="card-form-input" value="{{ $order['receiver_name'] }}">
                                        <label class="card-form-label">Адреса</label>
                                        <input class="card-form-input" value="{{ $order['receiver_street'].' '.$order['receiver_street_number'].' '.$order['receiver_entrance_number'].'/'.$order['receiver_apartment_number'] }}">
                                        <label class="card-form-label">Општина</label>
                                        <input class="card-form-input" value="{{ $order['receiver_city'].' '.$order['receiver_place'] }}">
                                        <label class="card-form-label">Телефон</label>
                                        <input class="card-form-input" value="{{ $order['receiver_phone'] }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3 class="card-title">АДРЕСНИЦА</h3>
                        <div class="row card-form">
                            <div class="col-7">
                                <div class="card-form-type-of-service">
                                    <div class="card-form-title">
                                        3. Вид на услуга
                                    </div>
                                    <div class="card-form-body">
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">&nbsp; Откуп</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-form-additional-services">
                                    <div class="card-form-title">
                                        4. Дополнителни услуги
                                    </div>
                                    <div class="card-form-body">
                                        <div class="card-form-additional-services-inputs">
                                            <div class="card-form-body-item">
                                                <label class="card-form-label">Поштарина</label>
                                                <input class="card-form-input">
                                                <span class="card-form-ext">ден</span>
                                            </div>
                                            <div class="card-form-body-item">
                                                <label class="card-form-label">Повратен откуп</label>
                                                <input class="card-form-input">
                                                <span class="card-form-ext">ден</span>
                                            </div>
                                        </div>
                                        <div class="card-form-paymant">
                                            <div class="card-form-title">
                                                5.Плаќа (заокружи)
                                            </div>
                                            <div class="card-form-table">
                                                <div class="card-form-table-row">
                                                    <div class="card-form-table-cell">
                                                        И
                                                    </div>
                                                    <div class="card-form-table-cell">
                                                        П
                                                    </div>
                                                    <div class="card-form-table-cell">
                                                        Ф
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-form-note">
                                    <div class="card-form-title">
                                        8.Забелешка
                                    </div>
                                    <textarea rows="2" 
                                        class="card-form-textarea">
                                    </textarea>
                                    <div class="card-form-subnote">
                                        Со потпис испраќачот и примачот потврдуваат дека
                                        сите наведени податоци се вистинити и точни со што
                                        БЕДА - Експрес не одговара за евентуалните последици
                                        заради неисправно пополнета адресница
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="card-form-type-of-shipment">
                                    <div class="card-form-title">
                                        6.Вид на пратка
                                    </div>
                                    <div class="card-form-body">
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">Писмо</label>
                                        </div>
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">Пакет</label>
                                        </div>
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">Тежина</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-form-type-of-shipment" style="margin-top: 5px;">
                                    <div class="card-form-title">
                                        7. Код
                                    </div>
                                    <div class="card-form-body d-flex justify-content-center mt-3">
                                        <div id="qrcode1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="email" href="mailto:express@be-da.mk">
                            express@be-da.mk
                        </a>
                        <a class="email" style="margin-bottom: 18px;">
                            02/3060-694
                        </a>
                        <a class="email" style="margin-bottom: 38px;">
                            076/278-278
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row address-card">
                    <div class="col-6">
                        <div class="card-logos-container">
                            <img class="card-logo" src="assets/images/logo.JPG" alt="logo">
                            <img class="card-stamp" src="assets/images/stamp.JPG" alt="stamp">
                        </div>
                        <div class="row card-form">
                            <div class="col-7 card-form-sender">
                                <div class="card-form-title"> 1. Испраќач </div>
                                <div class="card-form-body">
                                    <div>
                                        <label class="card-form-label">Име и Презиме / Име на фирма</label> 
                                        <input class="card-form-input" value="{{ $order['sender_name'] }}">
                                        <label class="card-form-label">Адреса</label>
                                        <input class="card-form-input" value="{{ $order['sender_street'].' '.$order['sender_street_number'].' '.$order['sender_entrance_number'].'/'.$order['sender_apartment_number'] }}">
                                        <label class="card-form-label">Општина</label>
                                        <input class="card-form-input" value="{{ $order['sender_city'].' '.$order['sender_place'] }}">
                                        <label class="card-form-label">Телефон</label>
                                        <input class="card-form-input" value="{{ $order['sender_phone'] }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 card-form-recipient">
                                <div>
                                    <label class="card-form-label">Време на прием</label>
                                    <input class="card-form-input">
                                    <label class="card-form-label">Датум на прием</label>
                                    <input class="card-form-input">
                                </div>
                            </div>
                        </div>
                        <div class="row card-form">
                            <div class="col-7 card-form-sender">
                                <div class="card-form-title"> 2. Примач </div>
                                <div class="card-form-body">
                                    <div>
                                        <label class="card-form-label">Име и Презиме / Име на фирма</label>
                                        <input class="card-form-input" value="{{ $order['receiver_name'] }}">
                                        <label class="card-form-label">Адреса</label>
                                        <input class="card-form-input" value="{{ $order['receiver_street'].' '.$order['receiver_street_number'].' '.$order['receiver_entrance_number'].'/'.$order['receiver_apartment_number'] }}">
                                        <label class="card-form-label">Општина</label>
                                        <input class="card-form-input" value="{{ $order['receiver_city'].' '.$order['receiver_place'] }}">
                                        <label class="card-form-label">Телефон</label>
                                        <input class="card-form-input" value="{{ $order['receiver_phone'] }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3 class="card-title">АДРЕСНИЦА</h3>
                        <div class="row card-form">
                            <div class="col-7">
                                <div class="card-form-type-of-service">
                                    <div class="card-form-title">
                                        3. Вид на услуга
                                    </div>
                                    <div class="card-form-body">
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">&nbsp; Откуп</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-form-additional-services">
                                    <div class="card-form-title">
                                        4. Дополнителни услуги
                                    </div>
                                    <div class="card-form-body">
                                        <div class="card-form-additional-services-inputs">
                                            <div class="card-form-body-item">
                                                <label class="card-form-label">Поштарина</label>
                                                <input class="card-form-input">
                                                <span class="card-form-ext">ден</span>
                                            </div>
                                            <div class="card-form-body-item">
                                                <label class="card-form-label">Повратен откуп</label>
                                                <input class="card-form-input">
                                                <span class="card-form-ext">ден</span>
                                            </div>
                                        </div>
                                        <div class="card-form-paymant">
                                            <div class="card-form-title">
                                                5.Плаќа (заокружи)
                                            </div>
                                            <div class="card-form-table">
                                                <div class="card-form-table-row">
                                                    <div class="card-form-table-cell">
                                                        И
                                                    </div>
                                                    <div class="card-form-table-cell">
                                                        П
                                                    </div>
                                                    <div class="card-form-table-cell">
                                                        Ф
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-form-note">
                                    <div class="card-form-title">
                                        8.Забелешка
                                    </div>
                                    <textarea rows="2" 
                                        class="card-form-textarea">
                                    </textarea>
                                    <div class="card-form-subnote">
                                        Со потпис испраќачот и примачот потврдуваат дека
                                        сите наведени податоци се вистинити и точни со што
                                        БЕДА - Експрес не одговара за евентуалните последици
                                        заради неисправно пополнета адресница
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="card-form-type-of-shipment">
                                    <div class="card-form-title">
                                        6.Вид на пратка
                                    </div>
                                    <div class="card-form-body">
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">Писмо</label>
                                        </div>
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">Пакет</label>
                                        </div>
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">Тежина</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-form-type-of-shipment" style="margin-top: 5px;">
                                    <div class="card-form-title">
                                        7. Код
                                    </div>
                                    <div class="card-form-body d-flex justify-content-center mt-3">
                                        <div id="qrcode2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="email" href="mailto:express@be-da.mk">
                            express@be-da.mk
                        </a>
                        <a class="email" style="margin-bottom: 18px;">
                            02/3060-694
                        </a>
                        <a class="email" style="margin-bottom: 38px;">
                            076/278-278
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row address-card">
                    <div class="col-6">
                        <div class="card-logos-container">
                            <img class="card-logo" src="assets/images/logo.JPG" alt="logo">
                            <img class="card-stamp" src="assets/images/stamp.JPG" alt="stamp">
                        </div>
                        <div class="row card-form">
                            <div class="col-7 card-form-sender">
                                <div class="card-form-title"> 1. Испраќач </div>
                                <div class="card-form-body">
                                    <div>
                                        <label class="card-form-label">Име и Презиме / Име на фирма</label> 
                                        <input class="card-form-input" value="{{ $order['sender_name'] }}">
                                        <label class="card-form-label">Адреса</label>
                                        <input class="card-form-input" value="{{ $order['sender_street'].' '.$order['sender_street_number'].' '.$order['sender_entrance_number'].'/'.$order['sender_apartment_number'] }}">
                                        <label class="card-form-label">Општина</label>
                                        <input class="card-form-input" value="{{ $order['sender_city'].' '.$order['sender_place'] }}">
                                        <label class="card-form-label">Телефон</label>
                                        <input class="card-form-input" value="{{ $order['sender_phone'] }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 card-form-recipient">
                                <div>
                                    <label class="card-form-label">Време на прием</label>
                                    <input class="card-form-input">
                                    <label class="card-form-label">Датум на прием</label>
                                    <input class="card-form-input">
                                </div>
                            </div>
                        </div>
                        <div class="row card-form">
                            <div class="col-7 card-form-sender">
                                <div class="card-form-title"> 2. Примач </div>
                                <div class="card-form-body">
                                    <div>
                                        <label class="card-form-label">Име и Презиме / Име на фирма</label>
                                        <input class="card-form-input" value="{{ $order['receiver_name'] }}">
                                        <label class="card-form-label">Адреса</label>
                                        <input class="card-form-input" value="{{ $order['receiver_street'].' '.$order['receiver_street_number'].' '.$order['receiver_entrance_number'].'/'.$order['receiver_apartment_number'] }}">
                                        <label class="card-form-label">Општина</label>
                                        <input class="card-form-input" value="{{ $order['receiver_city'].' '.$order['receiver_place'] }}">
                                        <label class="card-form-label">Телефон</label>
                                        <input class="card-form-input" value="{{ $order['receiver_phone'] }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3 class="card-title">АДРЕСНИЦА</h3>
                        <div class="row card-form">
                            <div class="col-7">
                                <div class="card-form-type-of-service">
                                    <div class="card-form-title">
                                        3. Вид на услуга
                                    </div>
                                    <div class="card-form-body">
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">&nbsp; Откуп</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-form-additional-services">
                                    <div class="card-form-title">
                                        4. Дополнителни услуги
                                    </div>
                                    <div class="card-form-body">
                                        <div class="card-form-additional-services-inputs">
                                            <div class="card-form-body-item">
                                                <label class="card-form-label">Поштарина</label>
                                                <input class="card-form-input">
                                                <span class="card-form-ext">ден</span>
                                            </div>
                                            <div class="card-form-body-item">
                                                <label class="card-form-label">Повратен откуп</label>
                                                <input class="card-form-input">
                                                <span class="card-form-ext">ден</span>
                                            </div>
                                        </div>
                                        <div class="card-form-paymant">
                                            <div class="card-form-title">
                                                5.Плаќа (заокружи)
                                            </div>
                                            <div class="card-form-table">
                                                <div class="card-form-table-row">
                                                    <div class="card-form-table-cell">
                                                        И
                                                    </div>
                                                    <div class="card-form-table-cell">
                                                        П
                                                    </div>
                                                    <div class="card-form-table-cell">
                                                        Ф
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-form-note">
                                    <div class="card-form-title">
                                        8.Забелешка
                                    </div>
                                    <textarea rows="2" 
                                        class="card-form-textarea">
                                    </textarea>
                                    <div class="card-form-subnote">
                                        Со потпис испраќачот и примачот потврдуваат дека
                                        сите наведени податоци се вистинити и точни со што
                                        БЕДА - Експрес не одговара за евентуалните последици
                                        заради неисправно пополнета адресница
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="card-form-type-of-shipment">
                                    <div class="card-form-title">
                                        6.Вид на пратка
                                    </div>
                                    <div class="card-form-body">
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">Писмо</label>
                                        </div>
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">Пакет</label>
                                        </div>
                                        <div class="card-form-body-item">
                                            <input type="checkbox">
                                            <label class="card-form-label">Тежина</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-form-type-of-shipment" style="margin-top: 5px;">
                                    <div class="card-form-title">
                                        7. Код
                                    </div>
                                    <div class="card-form-body d-flex justify-content-center mt-3">
                                        <div id="qrcode3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="email" href="mailto:express@be-da.mk">
                            express@be-da.mk
                        </a>
                        <a class="email" style="margin-bottom: 18px;">
                            02/3060-694
                        </a>
                        <a class="email" style="margin-bottom: 38px;">
                            076/278-278
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
