.address-card {
  margin-top: 370px;
  padding: 10px;
  border: 5px solid #4767b3;
}

.address-card .card-logos-container {
  display: flex;
}

.address-card .card-logos-container .card-logo {
  flex-basis: auto;
  width: 120px;
  height: 60px;
}

.address-card .card-logos-container .card-stamp {
  margin-left: 20px;
  flex-basis: auto;
  width: 140px;
  height: 60px;
}

.address-card .card-form {
  margin-top: 10px;
}

.address-card .card-form .card-form-recipient .card-form-title, .address-card .card-form .card-form-sender .card-form-title, .address-card .card-form .card-form-type-of-service .card-form-title,
.address-card .card-form .card-form-additional-services .card-form-title, .address-card .card-form .card-form-note .card-form-title, .address-card .card-form .card-form-type-of-shipment .card-form-title,
.address-card .card-form .card-form-method-of-delivery .card-form-title {
  background-color: #839fd6;
  font-weight: 600;
  line-height: 1.3rem;
  padding-left: 3px;
}

.address-card .card-form .card-form-recipient .card-form-label, .address-card .card-form .card-form-sender .card-form-body .card-form-label,
.address-card .card-form .card-form-type-of-service .card-form-body .card-form-body-item .card-form-label,
.address-card .card-form .card-form-additional-services .card-form-body .card-form-body-item .card-form-label,
.address-card .card-form .card-form-type-of-shipment .card-form-body .card-form-body-item .card-form-label,
.address-card .card-form .card-form-method-of-delivery .card-form-body .card-form-body-item .card-form-label {
  font-size: 10px;
  margin-bottom: 0;
}

.address-card .card-form .card-form-recipient .card-form-input, .address-card .card-form .card-form-sender .card-form-body .card-form-input,
.address-card .card-form .card-form-type-of-service .card-form-body .card-form-body-item .card-form-input,
.address-card .card-form .card-form-additional-services .card-form-body .card-form-body-item .card-form-input,
.address-card .card-form .card-form-type-of-shipment .card-form-body .card-form-body-item .card-form-input,
.address-card .card-form .card-form-method-of-delivery .card-form-body .card-form-body-item .card-form-input {
  width: 100%;
  height: 18px;
  border: 1px solid #839fd6;
  font-size: 12px;
}

.address-card .card-form .card-form-recipient .card-form-input:focus, .address-card .card-form .card-form-sender .card-form-body .card-form-input:focus,
.address-card .card-form .card-form-type-of-service .card-form-body .card-form-body-item .card-form-input:focus,
.address-card .card-form .card-form-additional-services .card-form-body .card-form-body-item .card-form-input:focus,
.address-card .card-form .card-form-type-of-shipment .card-form-body .card-form-body-item .card-form-input:focus,
.address-card .card-form .card-form-method-of-delivery .card-form-body .card-form-body-item .card-form-input:focus {
  outline: none;
}

.address-card .card-form .card-form-sender {
  padding-right: 0;
}

.address-card .card-form .card-form-sender .card-form-body {
  line-height: 1;
}

.address-card .card-form .card-form-recipient {
  padding-left: 5px;
  display: flex;
  flex-direction: column-reverse;
  line-height: 1;
}

.address-card .card-form .card-form-type-of-service .card-form-body {
  line-height: 1;
  margin-top: 5px;
}

.address-card .card-form .card-form-type-of-service .card-form-body .card-form-body-item {
  display: flex;
}

.address-card .card-form .card-form-type-of-service .card-form-body .card-form-body-item .card-form-input {
  flex-basis: auto;
  width: 50% !important;
}

.address-card .card-form .card-form-additional-services {
  margin-top: 5px;
}

.address-card .card-form .card-form-additional-services .card-form-body {
  line-height: 1;
  display: flex;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-additional-services-inputs {
  margin-top: 10px;
  width: 60%;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-additional-services-inputs .card-form-body-item .card-form-input {
  width: 80% !important;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-additional-services-inputs .card-form-body-item .card-form-ext {
  font-size: 10px;
  margin-bottom: 0;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-paymant .card-form-title {
  font-size: 10px;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-paymant .card-form-table {
  display: table;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-paymant .card-form-table:nth-child(2) {
  margin-top: 5px;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-paymant .card-form-table:nth-child(3) {
  margin-top: 15px;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-paymant .card-form-table:nth-child(4) {
  margin-top: 50px;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-paymant .card-form-table:nth-child(5) {
  margin-top: 10px;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-paymant .card-form-table .card-form-table-row {
  display: table-row;
}

.address-card .card-form .card-form-additional-services .card-form-body .card-form-paymant .card-form-table .card-form-table-row .card-form-table-cell {
  display: table-cell;
  border: 1px solid #000000;
  font-size: 12px;
  padding: 3px 8px;
}

.address-card .card-form .card-form-note {
  margin-top: 5px;
}

.address-card .card-form .card-form-note .card-form-textarea {
  font-size: 12px;
  width: 100%;
  resize: none;
}

.address-card .card-form .card-form-note .card-form-subnote {
  font-size: xx-small;
  line-height: 1;
}

.address-card .card-form .card-form-type-of-shipment .card-form-body {
  line-height: 1;
}

.address-card .card-form .card-form-method-of-delivery .card-form-body .card-form-body-item {
  display: flex;
  justify-content: space-evenly;
}

.address-card .card-form .card-form-method-of-delivery .card-form-body .card-form-body-item .card-form-label {
  line-height: 1.3rem;
}

.address-card .card-title {
  font-weight: 700;
  color: #426abd;
  letter-spacing: 0.2rem;
}

.address-card .email {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #4767b3;
  font-weight: 600;
}

/*# sourceMappingURL=stayle.css.map */

/*# sourceMappingURL=stayle.css.map */
